.fsection{
    background-image: url("img/back1.jpg");
    text-align: center;
    line-height: 10;
    background-position: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.container{
    padding: 0%;
    margin-left: 0%;
    margin-right: 100%;
}
.ssection{
    text-align: center;
    padding: 50px;
}