.fsection{
    background-image: url("img/back1.jpg");
    text-align: center;
    padding: 120px;
    background-position: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
footer{
    padding-top: 100px;
}
.ssection{
    text-align: center;
    padding: 50px;
}
.tsection{
    background-image: url("img/back2.jpg");
    text-align: center;
    padding:120px;
    color: white;
}
div.fosection>h1.action{
    padding-top: 50px;
    padding-bottom: 25px;
}
#para1,#para2,#para3{
    display:none;
}
.fosection{
    text-align: center;
}
.fisection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fisection .box{
    position: relative;
    width:250px;
    height:250px;
    margin: 10px;
    align-items: center;
}
.fisection .box .imgBox{
    overflow: hidden;
}
.fisection .box .imgBox img{
    max-width: 110%;
    transition: transform 2s;
}
.fisection .box .text{
    position: absolute;
    top: 10px;
    bottom:60px;
    right:10px;
    left:10px;
    background: rgba(0,0,0,0.8);
    transform: scaleY(0);
    transition: transform .5s;
    color: white;
    border:3px solid white;
    text-align:center;
    padding:50px;
}
.fisection .box:hover .text{
    transform: scaleY(1);
}
#sharp{
    padding-top: 70px;
    padding-bottom: 1px;
    text-align: center;
}